<!DOCTYPE html>
<html>
<head>
	<title>Ministry Missions</title>
</head>
<body>
<h1>Ministry Missions</h1>

<button onclick="location.href='home/sign_up';">Sign Up</button>
<button>Log In</button>
</body>
</html>