
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <p>MissionConnect</p>
      </a>
       
    </div>
    <button class="btn bt-1 navbar-btn pull-right" onclick="location.href='home/sign_up';">Sign Up</button>
    <button class="btn bt-1 navbar-btn pull-right" onclick="location.href='home/login';">Log In</button>
    </div>

  
</nav>


   <div class="row">
      <img class="pic1" src="/assets/Jesus_bible.jpeg" alt="Jesus Bible">
      <p class="text_home tlt">Connecting together to reach Christ's Mission</p>
   </div>



