<!DOCTYPE html>
<html>
<head>
	<title>Ministry Missions</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
       <p>Mission Church</p>
      </a>
    </div>
    <button class="btn btn-default navbar-btn" onclick="location.href='home/sign_up';">Sign In</button>
    <button class="btn btn-default navbar-btn" onclick="location.href='home/login';">Log In</button>

  </div>
</nav>

<div class="row">
   <div class="container-fuild">
      <img src=".." alt="...">
   </div>

</div>



<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


</body>
</html>