<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
<h1>Sign Up</h1>

<form accept-charset="UTF-8" action="/" method="post">

<input id="" name="select_type" type="radio" value="ministry" />
<label for="">I am a Ministry/Church</label>

<input id="" name="select_type" type="radio" value="volunteer"></input>
<label for="">I am a volunteer</label>
  

  
</form>

</body>
</html>