<title>Volunteer Profile Page</title>
</head>
<body>

<h1>Ministry Name: <%= @minsitry.name %></h1>

<dl>
  <dt>
    Address
  </dt>
  <dd>
    <%= @ministry.address %>
  </dd>

  <dt>
    Email
  </dt>
  <dd>
    <%= @mknistry.email %>
  </dd>

  <dt>
    Phone
  </dt>
  <dd>

  <%= link_to "Log out", "/ministries/:id", :method => :delete %>

  <p>To Create a Missions Click Here</p>
 <button onclick="location.href='/missions/new';">Missions</button>
  
  </dd>
</dl>