// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.pic1{position:absolute;z-index:-100;left:0;top:0;height:100%;width:100%}*/
.pic1{position:absolute;z-index:-100;left:0;top:0;height:100%;width:100%;}

.body1 { 
    background-image: url('/assets/Jesus_cross_mountain.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
 
.bg-black {background-color: #000;}
.text_home{z-index:10; color:white; 
position: absolute; top: 30%; 
left:20%;
-webkit-transform: translateY(-50%);
 -ms-transform: translateY(-50%);
 transform: translateY(-50%);
font-size: 40px;}
.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   z-index: 10;
}

.bt-1{ background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color:white;} 

.form2{
    width: 300px;
    margin: 0 auto;
    position: absolute; top: 0; left: 40%;
}

.form1{
    width: 300px;
    margin: 0 auto;
   
}



