<h1>Missions#new</h1>
<p>Find me in app/views/missions/new.html.erb</p>

<form action="/missions" method="POST">
	<label> Name</label>
	<input type= "text" placholder="Mission Name" name="mission[name]"></input>
	<label>Location</label>
	<input type="text" placeholder="location" name="mission[location]"></input>
	<label>Description</label>
	<input type="text" placeholder="Description" name="mission[description]"></input>
	<input type="hidden" name="authenticity_token"
      value="<%= form_authenticity_token %>">
<button type="submit" class="btn btn-default" id="button2">Create</button>

</form>
